# **GRUPO Nº20**
## Integrantes:

Gabriela Artazo

Pablo Iribarren

Julia Martin

Daniela Paira

In [ ]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn
seaborn.set_context('talk')

from sqlalchemy import create_engine, text

**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2024*

----

# Trabajo práctico entregable - parte 1

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

In [ ]:
import plotly
plotly.__version__

'5.22.0'

In [ ]:
# To update plotly
!pip install plotly --upgrade

Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (5.22.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly) (8.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly) (24.0)

In [ ]:
melb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')
melb_df[:3]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

## Ejercicio 1 SQL:

1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.

4. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

## **parte 1)** **Crear una base de datos en SQLite utilizando la libreria SQLalchemy. https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite**


Para crear una base de datos en SQLite utilizando SQLAlchemy, primero hay que importar la librería y luego utilizar la función create_engine para establecer una conexión con la base de datos.

In [ ]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float

# Paso 1: Leer los datos desde el CSV
melb_df = pd.read_csv('https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')

# Paso 2: Crear una conexión a la base de datos SQLite
engine = create_engine('sqlite:///melbourne_housing.sqlite')

# Paso 3: Crear una tabla en la base de datos
metadata = MetaData()

housing_table = Table('housing', metadata,
    Column('index', Integer, primary_key=True),
    Column('Suburb', String),
    Column('Address', String),
    Column('Rooms', Integer),
    Column('Type', String),
    Column('Price', Float),
    Column('Method', String),
    Column('SellerG', String),
    Column('Date', String),
    Column('Distance', Float),
    Column('Postcode', Integer),
    Column('Bedroom2', Float),
    Column('Bathroom', Float),
    Column('Car', Float),
    Column('Landsize', Float),
    Column('BuildingArea', Float),
    Column('YearBuilt', Float),
    Column('CouncilArea', String),
    Column('Lattitude', Float),
    Column('Longtitude', Float),
    Column('Regionname', String),
    Column('Propertycount', Float)
)

metadata.create_all(engine)  # Crea la tabla en la base de datos

# Paso 4: Insertar los datos en la tabla
with engine.connect() as connection:
    melb_df.to_sql('housing', con=connection, if_exists='replace', index_label='index')

print("Datos insertados en la base de datos SQLite.")

Datos insertados en la base de datos SQLite.

a) Importar las librerías necesarias:
- pandas para manejar los datos en formato DataFrame.
- create_engine, MetaData, Table, Column, Integer, String, Float de SQLAlchemy para crear y gestionar la base de datos SQLite.

b) pandas.read_csv() lee los datos desde la URL proporcionada y generar un DataFrame.

c)  create_engine('sqlite:///nombre_de_la_base_de_datos.sqlite') crea una conexión a la base de datos SQLite.

d) metadata.create_all(engine) crea la tabla en la base de datos,  de acuerdo con las columnas del DataFrame

e) to_sql de pandas es para insertar los datos del DataFrame en la tabla. El argumento if_exists='replace' asegura que si la tabla ya existe, se reemplazará.

# **Este código crea una base de datos SQLite llamada melbourne_housing.sqlite y una tabla housing con los datos del archivo CSV.**

In [ ]:
melb_df.to_sql('melb_data', con=engine, if_exists='replace', index=False)
#Para visualizar cantidad de registros

13580

In [ ]:
melb_df.dtypes
# Para ver tipo de dato en cada columna con la que estamos trabajando

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

# **Parte 2) Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.**

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float

# Paso 1: Leer los datos desde el CSV de Melbourne housing
melb_df = pd.read_csv('https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')

# Paso 1b: Leer los datos desde el CSV de Airbnb
interesting_cols = [
    'description', 'neighborhood_overview',
    'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
    'price', 'weekly_price', 'monthly_price',
    'latitude', 'longitude',
]
airbnb_df = pd.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
    usecols=interesting_cols
)

# Paso 2: Crear una conexión a la base de datos SQLite
engine = create_engine('sqlite:///melbourne_housing.sqlite')

# Paso 3: Crear las tablas en la base de datos
metadata = MetaData()

# Tabla para los datos de Melbourne housing
housing_table = Table('housing', metadata,
    Column('index', Integer, primary_key=True),
    Column('Suburb', String),
    Column('Address', String),
    Column('Rooms', Integer),
    Column('Type', String),
    Column('Price', Float),
    Column('Method', String),
    Column('SellerG', String),
    Column('Date', String),
    Column('Distance', Float),
    Column('Postcode', Integer),
    Column('Bedroom2', Float),
    Column('Bathroom', Float),
    Column('Car', Float),
    Column('Landsize', Float),
    Column('BuildingArea', Float),
    Column('YearBuilt', Float),
    Column('CouncilArea', String),
    Column('Lattitude', Float),
    Column('Longtitude', Float),
    Column('Regionname', String),
    Column('Propertycount', Float)
)

# Tabla para los datos de Airbnb
airbnb_table = Table('airbnb', metadata,
    Column('index', Integer, primary_key=True),
    Column('description', String),
    Column('neighborhood_overview', String),
    Column('street', String),
    Column('neighborhood', String),
    Column('city', String),
    Column('suburb', String),
    Column('state', String),
    Column('zipcode', String),
    Column('price', Float),
    Column('weekly_price', String),
    Column('monthly_price', String),
    Column('latitude', Float),
    Column('longitude', Float)
)

metadata.create_all(engine)  # Crea las tablas en la base de datos

# Paso 4: Insertar los datos en las tablas
with engine.connect() as connection:
    melb_df.to_sql('housing', con=connection, if_exists='replace', index_label='index')
    airbnb_df.to_sql('airbnb', con=connection, if_exists='replace', index_label='index')

print("Datos insertados en la base de datos SQLite.")

<ipython-input-10-e6a4d046f84c>:14: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb_df = pd.read_csv(

Datos insertados en la base de datos SQLite.

Se insertan los datos del DataFrame de Airbnb en la tabla airbnb.

Con estos pasos, se crean dos tablas en la base de datos SQLite y cargado datos tanto de Melbourne housing como de Airbnb. Este enfoque asegura que los datos de ambas fuentes se almacenen correctamente en la base de datos.

En el siguiente código verificamos la correcta creacion de ambas base de datos haciendo simples consultas como el tamaño de las tablas y visualizar los primeros 5 registros

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Crear una conexión a la base de datos SQLite
engine = create_engine('sqlite:///melbourne_housing.sqlite')

# Consultas SQL
query_size_housing = "SELECT COUNT(*) FROM housing;"
query_size_airbnb = "SELECT COUNT(*) FROM airbnb;"
query_sample_housing = "SELECT * FROM housing LIMIT 5;"
query_sample_airbnb = "SELECT * FROM airbnb LIMIT 5;"

# Ejecutar las consultas y obtener los resultados
with engine.connect() as connection:
    # Obtener el tamaño de la tabla housing
    size_housing = pd.read_sql(query_size_housing, connection).iloc[0, 0]
    # Obtener el tamaño de la tabla airbnb
    size_airbnb = pd.read_sql(query_size_airbnb, connection).iloc[0, 0]

    # Obtener las primeras 5 filas de la tabla housing
    sample_housing = pd.read_sql(query_sample_housing, connection)

    # Obtener las primeras 5 filas de la tabla airbnb
    sample_airbnb = pd.read_sql(query_sample_airbnb, connection)

# Mostrar los resultados
print(f"Tamaño de la tabla 'housing': {size_housing} registros")
print(f"Tamaño de la tabla 'airbnb': {size_airbnb} registros")

print("\nPrimeras 5 filas de la tabla 'housing':")
print(sample_housing)

print("\nPrimeras 5 filas de la tabla 'airbnb':")
print(sample_airbnb)

Tamaño de la tabla 'housing': 13580 registros
Tamaño de la tabla 'airbnb': 22895 registros

Primeras 5 filas de la tabla 'housing':
   index      Suburb           Address  Rooms Type      Price Method SellerG  \
0      0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1      1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2      2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3      3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4      4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  ...  Bathroom  Car  Landsize  BuildingArea  YearBuilt  \
0  3/12/2016       2.5  ...       1.0  1.0     202.0           NaN        NaN
1  4/02/2016       2.5  ...       1.0  0.0     156.0          79.0     1900.0
2  4/03/2017       2.5  ...       2.0  0.0     134.0         150.0     1900.0
3  4/03/2017       2.5  ...       2.0  1.0      94.0           NaN        NaN
4  4/06/2016       2.5  ...       1.0  2.0     120.0         142.0     2014.0

   CouncilArea  Lattitude Longtitude             Regionname  Propertycount
0        Yarra   -37.7996   144.9984  Northern Metropolitan         4019.0
1        Yarra   -37.8079   144.9934  Northern Metropolitan         4019.0
2        Yarra   -37.8093   144.9944  Northern Metropolitan         4019.0
3        Yarra   -37.7969   144.9969  Northern Metropolitan         4019.0
4        Yarra   -37.8072   144.9941  Northern Metropolitan         4019.0

[5 rows x 22 columns]

Primeras 5 filas de la tabla 'airbnb':
   index                                        description  \
0      0  House: Clean, New, Modern, Quite, Safe. 10Km f...
1      1  A large air conditioned room with queen spring...
2      2  RIGHT IN THE HEART OF ST KILDA! It doesn't get...
3      3  Comfortable, relaxed house, a home away from  ...
4      4  We offer comfortable accommodation in Inner Me...

                               neighborhood_overview  \
0       Very safe! Family oriented. Older age group.
1  This hip area is a crossroads between two grea...
2  A stay at our apartment means you can enjoy so...
3  This is a great neighbourhood – it is quiet, y...
4                                               None

                           street   neighborhood          city  \
0         Bulleen, VIC, Australia   Balwyn North    Manningham
1  Brunswick East, VIC, Australia      Brunswick      Moreland
2        St Kilda, VIC, Australia       St Kilda  Port Phillip
3       Thornbury, VIC, Australia      Thornbury       Darebin
4   St Kilda East, VIC, Australia  St Kilda East  Port Phillip

           suburb state zipcode   latitude   longitude  price  weekly_price  \
0         Bulleen   VIC    3105 -37.772684  145.092133     60           NaN
1  Brunswick East   VIC    3057 -37.766505  144.980736     35         200.0
2        St Kilda   VIC    3182 -37.859755  144.977369    159        1253.0
3       Thornbury   VIC    3071 -37.758971  144.989228     50         250.0
4   St Kilda East   VIC    3183 -37.864530  144.992238     69         400.0

   monthly_price
0            NaN
1          803.0
2         4452.0
3          920.0
4         1900.0

# **Parte 3) Implementar consultas en SQL que respondan con la siguiente información:**

- cantidad de registros totales por ciudad.
- cantidad de registros totales por barrio y ciudad.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Crear una conexión a la base de datos SQLite
engine = create_engine('sqlite:///melbourne_housing.sqlite')

# Consultas SQL para obtener la cantidad de registros totales por ciudad y por barrio y ciudad
# Para la tabla housing
query_total_por_ciudad_housing = """
SELECT CouncilArea AS city, COUNT(*) AS total_registros
FROM housing
GROUP BY CouncilArea;
"""

query_total_por_barrio_ciudad_housing = """
SELECT CouncilArea AS city, Suburb AS neighborhood, COUNT(*) AS total_registros
FROM housing
GROUP BY CouncilArea, Suburb;
"""

# Para la tabla airbnb
query_total_por_ciudad_airbnb = """
SELECT city, COUNT(*) AS total_registros
FROM airbnb
GROUP BY city;
"""

query_total_por_barrio_ciudad_airbnb = """
SELECT city, neighborhood, COUNT(*) AS total_registros
FROM airbnb
GROUP BY city, neighborhood;
"""

# Ejecutar las consultas y obtener los resultados
with engine.connect() as connection:
    # Ejecutar las consultas para la tabla housing
    df_total_por_ciudad_housing = pd.read_sql(query_total_por_ciudad_housing, connection)
    df_total_por_barrio_ciudad_housing = pd.read_sql(query_total_por_barrio_ciudad_housing, connection)

    # Ejecutar las consultas para la tabla airbnb
    df_total_por_ciudad_airbnb = pd.read_sql(query_total_por_ciudad_airbnb, connection)
    df_total_por_barrio_ciudad_airbnb = pd.read_sql(query_total_por_barrio_ciudad_airbnb, connection)

# Mostrar los resultados
print("Cantidad de registros totales por ciudad en la tabla 'housing':")
print(df_total_por_ciudad_housing)

print("\nCantidad de registros totales por barrio y ciudad en la tabla 'housing':")
print(df_total_por_barrio_ciudad_housing)

print("\nCantidad de registros totales por ciudad en la tabla 'airbnb':")
print(df_total_por_ciudad_airbnb)

print("\nCantidad de registros totales por barrio y ciudad en la tabla 'airbnb':")
print(df_total_por_barrio_ciudad_airbnb)

Cantidad de registros totales por ciudad en la tabla 'housing':
                 city  total_registros
0                None             1369
1             Banyule              594
2             Bayside              489
3          Boroondara             1160
4            Brimbank              424
5            Cardinia                8
6               Casey               38
7             Darebin              934
8           Frankston               53
9           Glen Eira              848
10  Greater Dandenong               52
11        Hobsons Bay              434
12               Hume              164
13           Kingston              207
14               Knox               80
15     Macedon Ranges                7
16         Manningham              311
17        Maribyrnong              692
18          Maroondah               80
19          Melbourne              470
20             Melton               66
21             Monash              333
22      Moonee Valley              997
23          Moorabool                1
24           Moreland             1163
25          Nillumbik               36
26       Port Phillip              628
27        Stonnington              719
28        Unavailable                1
29         Whitehorse              304
30         Whittlesea              167
31            Wyndham               86
32              Yarra              647
33       Yarra Ranges               18

Cantidad de registros totales por barrio y ciudad en la tabla 'housing':
             city  neighborhood  total_registros
0            None    Abbotsford                1
1            None    Aberfeldie                4
2            None  Airport West                6
3            None     Albanvale                2
4            None   Albert Park                5
..            ...           ...              ...
596  Yarra Ranges   Mooroolbark                9
597  Yarra Ranges  Mount Evelyn                1
598  Yarra Ranges        Silvan                2
599  Yarra Ranges         Upwey                1
600  Yarra Ranges    Yarra Glen                1

[601 rows x 3 columns]

Cantidad de registros totales por ciudad en la tabla 'airbnb':
                 city  total_registros
0             Banyule              203
1             Bayside              375
2          Boroondara              664
3            Brimbank              108
4            Cardinia              123
5               Casey              153
6             Darebin              698
7           Frankston              177
8           Glen Eira              631
9   Greater Dandenong              147
10        Hobsons Bay              239
11               Hume              170
12           Kingston              309
13               Knox              175
14         Manningham              313
15        Maribyrnong              436
16          Maroondah              115
17          Melbourne             7368
18             Melton               95
19             Monash              571
20      Moonee Valley              344
21           Moreland              967
22          Nillumbik               88
23       Port Phillip             2808
24        Stonnington             1621
25         Whitehorse              614
26         Whittlesea              137
27            Wyndham              426
28              Yarra             2049
29       Yarra Ranges              771

Cantidad de registros totales por barrio y ciudad en la tabla 'airbnb':
             city   neighborhood  total_registros
0         Banyule           None              174
1         Banyule     Alphington               16
2         Banyule        Preston                8
3         Banyule      Thornbury                5
4         Bayside           None              170
..            ...            ...              ...
129         Yarra        Fitzroy              381
130         Yarra  Fitzroy North              225
131         Yarra      Northcote                6
132         Yarra       Richmond              547
133  Yarra Ranges           None              771

[134 rows x 3 columns]

# **Parte 4) Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL para obtener un resultado similar a lo realizado con Pandas en clase.**

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Crear una conexión a la base de datos SQLite
engine = create_engine('sqlite:///melbourne_housing.sqlite')

# Leer el DataFrame de airbnb
airbnb_df = pd.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
    usecols=['zipcode']
)

# Modificar el tipo de datos de la columna zipcode
airbnb_df['zipcode'] = pd.to_numeric(airbnb_df['zipcode'], errors='coerce')

# Eliminar NaN en la columna zipcode y convertir a entero
airbnb_df['zipcode_int'] = airbnb_df['zipcode'].fillna(0).astype(int)

# Leer el DataFrame de viviendas de la base de datos SQLite
housing_df = pd.read_sql_table('housing', con=engine)

# Encontrar la intersección de zipcodes entre airbnb_df y housing_df
intersection = pd.Series(list(set(airbnb_df['zipcode_int']).intersection(set(housing_df['Postcode']))))

print("\nIntersección de zipcodes entre airbnb_df y housing_df:")
print(intersection)

# Imprimir información adicional sobre los zipcodes
print("\nAirbnb zipcodes únicos:", len(airbnb_df['zipcode_int'].unique()))
print("Melbourne Housing zipcodes únicos:", len(housing_df['Postcode'].unique()))
print("Zipcodes comunes:", len(intersection))

In [ ]:
# Consulta SQL para combinar los datasets utilizando INNER JOIN
query = """
SELECT *
FROM airbnb
INNER JOIN housing ON airbnb.zipcode = housing.Postcode
"""

# Ejecutar la consulta y cargar los resultados en un DataFrame
combined_df = pd.read_sql_query(query, engine)

# Imprimir las primeras filas del DataFrame resultante
print(combined_df.head())

   index                                        description  \
0      0  House: Clean, New, Modern, Quite, Safe. 10Km f...
1      0  House: Clean, New, Modern, Quite, Safe. 10Km f...
2      0  House: Clean, New, Modern, Quite, Safe. 10Km f...
3      0  House: Clean, New, Modern, Quite, Safe. 10Km f...
4      0  House: Clean, New, Modern, Quite, Safe. 10Km f...

                          neighborhood_overview                   street  \
0  Very safe! Family oriented. Older age group.  Bulleen, VIC, Australia
1  Very safe! Family oriented. Older age group.  Bulleen, VIC, Australia
2  Very safe! Family oriented. Older age group.  Bulleen, VIC, Australia
3  Very safe! Family oriented. Older age group.  Bulleen, VIC, Australia
4  Very safe! Family oriented. Older age group.  Bulleen, VIC, Australia

   neighborhood        city   suburb state zipcode   latitude  ...  Bathroom  \
0  Balwyn North  Manningham  Bulleen   VIC    3105 -37.772684  ...       1.0
1  Balwyn North  Manningham  Bulleen   VIC    3105 -37.772684  ...       1.0
2  Balwyn North  Manningham  Bulleen   VIC    3105 -37.772684  ...       2.0
3  Balwyn North  Manningham  Bulleen   VIC    3105 -37.772684  ...       2.0
4  Balwyn North  Manningham  Bulleen   VIC    3105 -37.772684  ...       3.0

   Car  Landsize  BuildingArea  YearBuilt CouncilArea Lattitude  Longtitude  \
0  2.0     385.0         140.0     2000.0  Manningham  -37.7599    145.0849
1  2.0     717.0         180.0     1960.0  Manningham  -37.7608    145.0862
2  2.0     562.0           NaN        NaN  Manningham  -37.7628    145.0994
3  2.0     556.0         214.0     1957.0  Manningham  -37.7657    145.0957
4  2.0     410.0           NaN     2012.0  Manningham  -37.7695    145.0820

             Regionname  Propertycount
0  Eastern Metropolitan         4480.0
1  Eastern Metropolitan         4480.0
2  Eastern Metropolitan         4480.0
3  Eastern Metropolitan         4480.0
4  Eastern Metropolitan         4480.0

[5 rows x 36 columns]

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Ejecutar la consulta y cargar los resultados en un DataFrame
combined_df = pd.read_sql_query(query, engine)

# Imprimir las primeras filas del DataFrame resultante
print(combined_df.head())

# Ver el tamaño de la tabla
num_rows, num_cols = combined_df.shape
print(f"Número de registros (filas): {num_rows}")
print(f"Número de columnas: {num_cols}")

# Ver el nombre de las columnas
print("Nombres de las columnas:")
print(combined_df.columns.tolist())